.menu-mobile{
    cursor: pointer;
    display: none;
}

.main-menu-categorias .redes-sociais{
    display: none;
}


@media screen and (max-width: 1250px){
    .main-promocoes{
        max-width: 90rem;
    }
}

@media screen and (max-width : 999px){
    

    .main-menu{
        background-color: #E1306C;
        padding: 0 10rem;
        width: 100vw;
    }

    .main-home{
        padding: 0 10rem;
    }

    .menu-mobile div {
        width: 3.2rem;
        height: 0.31rem;
        background-color: #ffffff;
        margin: 5px auto;
        display: block;
        transition: transform 0.2s ease;
    }

    .menu-mobile.menu-ativo .line1{
        transform: translateY(0.8rem) rotate(45deg);
    }

    .menu-mobile.menu-ativo .line2{
        opacity: 0;
    }

    .menu-mobile.menu-ativo .line3{
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .main-menu-categorias{
        position: absolute;
        height: 93vh;
        transform: translateX(100%);
        transition: transform 0.2s ease;
    }

    .main-menu-categorias .redes-sociais{
        display: block;
    }

    .main-menu-categorias .redes-sociais ul{
        justify-content: center;
    }

    .main-menu-categorias .redes-sociais i{
        color: #fff;
    }

    .main-menu-categorias > ul{
        
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        gap: 10rem;
    }

    

    .redes-sociais{
        display: none;
    }

    .menu-mobile{
        display: block;
    }


    .menu-ativo {
        transform: translateX(0);
    }



    .main-promocoes{
        max-width: 80rem;
    }

    .angle{
        display: none;
    }


}

@media screen and (max-width : 800px) {

    
    .main-menu{
        height: 8vh;
    }

    .main-home{
        flex-direction: column-reverse;
        height: 93vh;
        top: 7vh;
    }

    .home-sobre{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-sobre button{
        margin: 3rem 0 0 0;
    }

    .home-image-sobre{
        width: 100%;
    }

    .main-promocoes{
        max-width: 95%;
        margin: 5rem auto 0 auto;
    }

    .main-promocoes-selection {
        margin: 5rem 0;
        gap: 5rem;
    }

    .promocoes-header-produtos > ul{
        gap: 6rem;
    }

    .promocoes-header-produtos > ul > button{
        font-size: 1.3rem;
    }

    .produtos-imagens-cards{

        width: 60rem;

    }

    .produtos-categorias > h1{
        width: 50rem;
        font-size: 3rem;
    }

    .btn-link-produtos{
        
        
      
        padding: 1rem 1rem;
        border-radius: 1rem;
        color: #ffffff;
        font-size: 1.6rem;
    }
}

@media screen and (max-width : 600px){
    body{
        font-size: 1.2rem;
    }

    .main-menu{
        padding: 0 5rem;
    }

    .main-home{
        padding: 0;
    }

    .home-image-sobre img{
        height: 100%;
        width: 80%;
    }


    .main-promocoes{
        max-width: 95%;
    }

    .main-promocoes-selection{
        gap: 2rem;
    }

    .main-promocoes-selection select{
        padding: 1.5rem 6rem;
        font-size: 1.6rem;
    }

    .promocoes-header-produtos > ul{
        gap: 1rem;
    }

    .promocoes-header-produtos > ul > button{
        margin: 1rem;
        font-size: 1.2rem;
    }

    

    .produtos-header{
        width: 40rem;
    }

    .produtos-header h1{
        font-size: 4rem;
    }

    .produtos-header p{
        font-size: 3rem;
    }

    .produtos-categorias > h1{
        width: 35rem;
        font-size: 2rem;
    }

    .produtos-imagens-cards{

        width: 40rem;

    }

    .produtos-img{
        height: 15rem;
    }
    

    .btn-link-produtos{
        padding: 1rem 0.5rem;
        border-radius: 1rem;
        color: #ffffff;
        font-size: 1.2rem;
    }
    
}

