@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    user-select: none;
} 

body{
    font-size: 1.5rem;
}

/* cabeçalho/menu */

header{
    position: fixed;
    width:100vw;
    z-index: 1;
    background-color: #ffffff;
}

.main-menu{
    max-width: 1200px;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
}

.menu-logo {
    height: 80%;
    width: 15rem;
}

.menu-logo img{
    height: 100%;
}

.logo-texto {
  width: 300px;
  height: 50px;
  border-radius: 50% 50% 0 0;
  background-color: white;
  border:2px solid pink;
}

.logo-texto h1{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    color: #f3759f;
}

.redes-sociais ul{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type:none;
    width: 15rem;
    gap: 1rem;
}

.instagram-icon, .whatsapp-icon, .linkedin-icon{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    transition:transform 0.9s ease , color 0.5s ease;
}

.instagram-icon:hover{
    transform:translateY(-10px);
    color:#E1306C;
}

.whatsapp-icon:hover{
    transform:translateY(-10px);
    color:#25D366;
}

.linkedin-icon:hover{
    transform:translateY(-10px);
    color:#0e76a8;
}

.main-menu-categorias{
    background-color: #E1306C;
    height: 8rem;
}

.main-menu-categorias > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 120rem;
    margin: auto;
    list-style-type: none;
    gap: 20rem;
    
}

.main-menu-categorias > ul > li{
    cursor: pointer ;
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Tilt Neon', cursive;
}

.main-menu-categorias > ul > li::after{
    content: "";
    width: 0;
    height: 0.7rem;
    display: block;
    background-color: #eeeaea;
    border-radius: 1rem;
    margin: 0.5rem 0 0 0;
    transition: width 1s ease;
    position: absolute;
}

.main-menu-categorias > ul > li:hover::after{
    width: 100%;
}

/* parte inicial da página/home */

.home{
    position: relative;
}

.main-home{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 20rem;
    background:url(../img/background/background01.svg) no-repeat center / cover;
    
}

.home-sobre{
    width: 50%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-sobre  h3 {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color: rgba(255, 20, 147, 0.9);
}

.home-sobre  h1 {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7em;
    max-width: 50rem;
    
}

.home-sobre  button{
    padding: 2rem 7rem;
    background-color:rgba(255, 20, 147, 0.6) ;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    border: 0.2rem solid rgba(255, 20, 147, 1);
    margin-top: 8rem;
    cursor: pointer;
    box-shadow: 0 0 1rem 0.4rem white;
    text-align: center;
}
.home-image-sobre{
    width: 50%;
    height: 50rem;
    text-align: center;
}
.home-image-sobre img{
    height: 100%;
    width: 70%;
}

/* parte das promoçoes da página */

.promocoes{
    background-image: url(../img/background/background02.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-promocoes{
    max-width: 120rem;
    height: 71%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5rem;
}

.angle{
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color .5s ease;
    display: none;
}

.angle:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.an-1{
    right: -6rem;
}

.an-2{
    left: -6rem;
}

.an-2 i{
    transform: rotate(180deg);
}
.main-promocoes-selection{
    position: relative;
    margin: 4rem auto 5rem auto ;
}
.main-promocoes-selection select{
    background-color: #000000;
    color: #fff;
    width: fit-content;
    padding: 2rem 6rem;
    border-radius: 10rem;
    box-shadow: 0 0 0.7rem 0.01rem  #fff;
    outline: none;
    appearance:none;
    font-size: 1.6rem;
}

.angleOn{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 90%;
    right: 0;
    width: fit-content;
    height: 1.5rem;
    transform:translate(-90%, -50%);
    transition: transform .1s ease;
    pointer-events: none;
    color: #fff;
}
.on{
    transform:translate(-90%, -80%) rotate(180deg);
}

.secao-promocoes-produtos {
    width: 100%;
}

.secao-promocoes-produtos ul{
    list-style-type:none;
    display: flex;
    
}

.promocoes-header-produtos > ul{
    justify-content: center;
}

.promocoes-header-produtos > ul > button{
    margin: 2rem;
    width: 15rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0.7rem 0.01rem  black;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
}

.promocoes-cards-produtos{
    height: 50rem;
    padding: 0 3rem;

}
.promocoes-cards-produtos ul{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.promocoes-cards-produtos ul::-webkit-scrollbar {
    display: none;
}
.promocoes-cards-produtos li{
    width: 30rem;
    height: fit-content;
    background-color: rgba(156, 156, 156, 0.2);
    box-shadow: 0 0 0.7rem 0.01rem  rgb(0, 0, 0);
    border-radius: 5rem;
    margin: 0 2rem;
    text-align: center;
}

.promocoes-cards-produtos > ul > li > img{
    width: 20rem;
    height: 20rem;
    background-color: aqua;
    margin: 5rem;
    border-radius: 5rem;
}

.promocoes-cards-produtos > ul > li > div{

    text-align: start;
    margin: 0 auto 6rem auto;
    width: 20rem;
    height: 7rem;
}

.promocoes-header-produtos > ul .ativos {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0.7rem 0.01rem  rgb(255, 20, 147);
}



/* seção dos produtos */

.secao-produtos{
    width: 100%;
    background-color:#eeeaea;
    position: relative;
    background-image: url(../img/background/background03.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.main-produtos{
    max-width: 1200px ;
    margin: auto;
}


.produtos-header{
    height: 10%;
    width: 50rem;
    margin:0 auto 15rem auto;
    padding: 5rem;
    
}

.produtos-header > h1{
    width: fit-content;
    font-size: 6rem;
    color: #000000;
    margin: auto;
    font-family: 'Heebo', sans-serif;
}

.produtos-header > p{
    width: fit-content;
    font-size: 4rem;
    color: #000000;
    margin: auto;
    font-family: 'Heebo', sans-serif;
}

.main-produtos-categorias{
    height: fit-content;
}
.produtos-categorias{
    
}
.produtos-categorias > h1 {
    font-size: 4rem;
    padding: 3rem;
    border: 0.3rem solid #000000;
    border-radius: 1rem;
    font-family: 'Heebo', sans-serif;
}

.produtos-imagens-cards{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.produtos-cards{
    height: 40rem;
    width: 40rem;
    text-align: center;
}

.produtos-img{
    width: 20rem;
    height: 20rem;
    margin: 5rem 0 0 0 ;
    border-radius: 1rem;
    transition: transform 1s ease;
}

.produtos-img:hover{
    transform: scale(1.2);
}

.preco-produtos{
    width: fit-content;
    font-size: 2rem;
    margin: 2rem auto;
}

.btn-link-produtos{
    list-style: none;
    text-decoration: none;
    outline: none;
    background-color: rgb(255, 20, 147);
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 2rem;
}
